* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.navBar {
    display: flex; 
    align-items: center;
    background-color: chocolate;
    margin-bottom: 20px;
    min-height: 50px; 
}

.navBar ul {
    display: flex;
    text-align: center;
    padding: 20px;
    gap: 20px;
    list-style-type: none

}         

.navBar a {
    color: white;
    text-decoration: none;
}
.navBar a:hover {
    transform: scale(1.05);
}

.container {
    min-width: 80%;
    margin: 20px;
}

input {
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 35%;
}

.card {
    /* 100 of ul */
    max-width: 100%; 
    border: 0.5px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;    
}

.bankCardContent{
    display: flex;
    justify-content: space-between;
}

.bankCardTitle a{
    text-decoration: none;
    color:darkslateblue;
    transform: scale(1.05);
}

.bankCardTitle:hover{
    transform: scale(1.02);
}

.bankCardBtnAdd {
    margin-top: 20px;
    padding: 10px;
    background-color: #4AA082;
    border-color: #4AA082;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    transition: transform 0.3s ease;
    margin-right: 5px;
}

.bankCardBtnRemove {
    margin-top: 20px;
    padding: 10px;
    background-color: #837CBA    ;
    border-color: #97497C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    transition: transform 0.3s ease;
}

.bankCardBtn:hover{
    transform: scale(1.05);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
}

/* COMPARISON */

.comparisonLayout{
    display: flex;
    justify-content: space-between;
    gap: 60px;

}
.comparisonLayout > *{
    flex-basis: 100%;

}

.accountList{
    flex-grow: 3;
}

.comparator{
    flex-grow: 1;
}

.comparator li{
    margin-top: 15px;
}